[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
alembic = "*"
pydantic-settings = "*"
sqlalchemy = "*"
gunicorn = "*"
psycopg2-binary = "*"
gevent = "*"

[dev-packages]

[requires]
python_version = "3.11"
